@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime FechaM = ViewBag.FechaM;
}
<div>
    <form id="" asp-action="regresar" method="get" class="form">
        <input type="submit" class="close txtblack txtblack textxl btn btn-warning" value="Regresar" />

    </form>
    <br />
    <br />
    <h2 class="my-4 txtblack text-center">Ventas por Mes</h2>
    <h2 class="my-4 txtblack text-center">@FechaM.ToString("MMMM yyyy").ToUpper()</h2>
    <div class="d-flex justify-content-center ">
        <form asp-action="formularioMes" method="get" class="form w-50">
            @Html.DropDownList("Mes", ViewData["datosCol1"] as SelectList, "Seleccione un mes", new { @class = " txtwhite bgdarkgray py-4 d-inline w-100 text-center" })  
            <div class="input-group-append d-flex justify-content-center">
                <input type="submit" class="btn btn-primary" style="background-color: white; color: black; border: 1px solid black;" value="Buscar"></input>
            </div>
        </form>

    </div>
        <div class="my-5 mx-5 h-75 overflow-auto">
        <table class="othertable table">
            <thead class="othertable">
                <tr>
                    <th class="bgdarkergray txtwhite text-center"> <h5>N° Cuenta</h5></th>
                    <th class="bgdarkergray txtwhite text-center"> <h5>Fecha</h5></th>
                    <th class="bgdarkergray txtwhite text-center"> <h5>Mesero</h5></th>
                    <th class="bgdarkergray txtwhite text-center"> <h5>Ingresos</h5></th>
                </tr>
            </thead>
            <tbody class="othertable">
                @foreach (var dato in (IEnumerable<dynamic>)ViewData["datosTabla3"])
                {
                    <tr>
                        <td class="txtblack text-center bgwhite textabla"> @dato.NCuenta</td>
                        <td class="txtblack text-center bgwhite textabla"> @dato.FechaC</td>
                        <td class="txtblack text-center bgwhite textabla"> @dato.Mesero</td>
                        <td class="txtblack text-center bgwhite textabla"> $@dato.Ingresos</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>