@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime Fechati = ViewBag.Fechati;
    DateTime Fechatfi = ViewBag.Fechatfi;
}
<div>
    <form id="" asp-action="regresar" method="get" class="form">
        <input type="submit" class="close txtblack txtblack textxl btn btn-warning" value="Regresar" />

    </form>
    <br />
    <br />
    <h2 class="my-4 txtblack text-center">Ventas en Linea</h2>
    <div class="d-flex justify-content-center ">
        <form asp-action="formularioLinea" method="get" class="form w-100 mx-5 row justify-content-center">
            <div class="col-md-6 align-content-center align-items-center text-center px-5">
                <h5 class="txtblack">Fecha inicio</h5>
                <h5 class="txtblack">@Fechati.ToString("dd/MM/yyyy")</h5>
                @Html.TextBox("fechai", null, new { @class = "form-control txtwhite bgdarkgray py-4", type = "date" })
            </div>
            <div class="col-md-6 align-content-center align-items-center text-center px-5">
                <h5 class="txtblack">Fecha fin</h5>
                <h5 class="txtblack">@Fechatfi.ToString("dd/MM/yyyy")</h5>
                @Html.TextBox("fechaf", null, new { @class = "form-control txtwhite bgdarkgray py-4", type = "date" })
            </div>
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary" style="background-color: white; color: black; border: 1px solid black;" value="Buscar"/>
            </div>
        </form>
    </div>
    <!-- Tabla -->
    <div class="my-5 mx-5 h-75 overflow-auto">
        <table class="othertable table">
            <thead class="othertable">
                <tr>
                    <th class="bgdarkergray txtwhite text-center"> <h5>N° Cuenta</h5></th>
                    <th class="bgdarkergray txtwhite text-center"> <h5>Fecha</h5></th>
                    <th class="bgdarkergray txtwhite text-center"> <h5>Ingresos</h5></th>
                </tr>
            </thead>
            <tbody class="othertable">
                @foreach (var dato in (IEnumerable<dynamic>)ViewData["datosTabla4"])
                {
                    <tr>
                        <td class="txtblack text-center bgwhite textabla"> @dato.NCuenta</td>
                        <td class="txtblack text-center bgwhite textabla"> @dato.FechaC</td>
                        <td class="txtblack text-center bgwhite textabla"> $@dato.Ingresos</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
